<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/account.css')}}">
</head>
<body>
    <div id="border">
        <div id="nav">
            <h1>CarSalesWebsite</h1>
            <div id="links">
                <a href="/">Home</a>
                <p> | </p>
                <a href="/yourcars/{{user.id}}">YourCars</a>
                <p> | </p>
                <a href="/messages/{{user.id}}">Messages</a>
                <p> | </p>
                <a href="/logout">Logout</a>
            </div>
        </div>
        
        <div id="main">
            <div id="header">
                <h2>Account Information:</h2>
                <a href="/account_edit/{{user.id}}">Edit Account Info</a>
            </div>
            <p>User Name: {{user.user_name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Phone Number: {{user.phone}}</p>
            <p>City: {{user.city}}</p>
            <p>State: {{user.state}}</p>
            <p>Zip Code: {{user.zip_code}}</p>
        </div>
    </div>
</body>
</html>