<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/messages.css')}}">
</head>
<body>
    <div id="border">
        <div id="nav">
            <h1>CarSaleWebsite</h1>
            <div id="links">
                <a href="/">Home</a>
                <p> | </p>
                <a href="/yourcars/{{user.id}}">YourCars</a>
                <p> | </p>
                <a href="/account/{{user.id}}">Account</a>
                <p> | </p>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <div id="main">
            <h2>Sent Messages:</h2>
            <div class="box">
                {% for recipient in clever_function(recipients) %}
                    {% if recipient.user_id == user.id %}
                    <div class="row">
                        <p>Too: {{recipient.user_name}}</p>
                        <p>Date: {{recipient['messages.created_at']}}</p>
                    </div>
                    <p id="content"><span class="span">Content:</span> {{recipient.content}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            <h2>Inbox:</h2>
            <div class="box">
                {% for message in clever_function(messages) %}
                    <div class="row">
                        <p>From: {{message.user_name}}</p>
                        <p>Date: {{message['messages.created_at']}}</p>
                        <div id="btns">
                            <form action="/reply/{{message.user_id}}" method="post" id="btn">
                                <button>Reply</button>
                            </form>
                            <form action="/delete_message/{{user.id}}/{{message['messages.id']}}" method="post" id="btn">
                                <button>Delete</button>
                            </form>
                        </div>
                    </div>
                    <p id="content"><span class="span">Content:</span> {{message.content}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>