*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 30px 100px;
    background-color: rgb(82, 80, 80);
}
#border{
    border: 4px solid black;
}
#nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}
#nav>h1{
    font-size: 4rem;
}
#links{
    display: flex;
    gap: 5px;
    font-size: 2rem;
}
#links>a{
    color : white;
    text-decoration: none;
}
#main{
    padding: 40px;
    background-color: white;
}
#main>h2{
    color: black;
    margin-bottom: 10px;
    font-size: 2.5rem;
}
.box{
    border: 4px solid black;
    padding: 20px;
    height: 500px;
    overflow-y: auto;
}
.box>p{
    font-size: 1.5rem;
}
.row{
    color: black;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
#btn>button{
    background-color: black;
    border: 2px solid black;
    color: white;
    font-size: 1.25rem;
    padding: 5px 10px;
    border-radius: 10px;
}
.span{
    font-size: 2rem;
}
#content{
    margin-bottom: 10px;
}
#btns{
    display: flex;
    gap: 20px;
}