*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 30px 100px;
    background-color: rgb(82, 80, 80);
}
#border{
    border: 4px solid black;
}
#nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}
#nav>h1{
    font-size: 4rem;
}
#links{
    display: flex;
    gap: 5px;
    font-size: 2rem;
}
#links>a{
    color : white;
    text-decoration: none;
}
h2{
    text-align: center;
    font-size: 2.5rem;
    color: black;
    margin-bottom: 20px;
}
#main{
    background-color: white;
    padding: 20px 100px;
}
.row{
    text-align: right;
    font-size: 2rem;
    margin-bottom: 50px;
    color: black;
}
.row>input{
    border-radius: 10px;
    border: 2px solid black;
    height: 30px;
    padding: 10px;
    font-size: 1.25rem;
}
.row>select{
    color: black;
    font-size: 1.25rem;
    height: 30px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
}
#container{
    display: flex;
    justify-content: space-between;
}
#rightbtn{
    text-align: right;
}
#rightbtn>button{
    background-color: black;
    border: 2px solid black;
    color: white;
    font-size: 1.25rem;
    padding: 5px 10px;
    border-radius: 10px;
}