*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 30px 100px;
    background-color: rgb(82, 80, 80);
}
#border{
    border: 4px solid black;
}
#nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
}
#nav>h1{
    font-size: 4rem;
}
#links{
    display: flex;
    gap: 5px;
    font-size: 2rem;
}
#links>a{
    color : white;
    text-decoration: none;
}
#main{
    background-color: white;
    padding: 20px;
}
#main>h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: black;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    border: 4px solid black;
    padding: 20px;
}
.row>img{
    height: 300px;
    margin-right: 20px;
    border-radius: 50%;
    border: 4px solid black;
}
.row>p{
    color: black;
}